<%= link_to 'Novo', {action: 'new'},class: "btn btn-success" %>
<table class="table table-bordered">
	<tr>
		<th>Nome</th>
		<th>Endereço</th>
		<th>Especialidade</th>
		<th>Ações</th>
	</tr>
	<% @restaurantes.each do |restaurante| %>
	<tr>
		<td><%= restaurante.nome          %></td>
		<td><%= restaurante.endereco      %></td>
		<td><%= restaurante.especialidade %></td>
		<td> <%= link_to 'Mostrar', {action: 'show', id: restaurante},class: "btn btn-default" %>
		<%= link_to 'Editar', {action: 'edit', id: restaurante},  class: "btn btn-primary" %>
		<%= link_to 'Deletar', {action: 'destroy', id: restaurante},
		{method: "delete",class: "btn btn-danger"} %> </td>
	</tr>
	<% end %>
</table>

<%= paginate @restaurantes %>
