<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Myapp2</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<%= stylesheet_link_tag   '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', 'application', media: 'all', 'data-turbolinks-track' => true %>
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <%= csrf_meta_tags %>
    </head>
    <body>

      <%= render 'layouts/menu' %>
      
      <div class="container">
        <div class="row">
         <div class="col-md-12">
         
          <% if current_page?('/') || current_page?(controller: 'welcome')%>
          <%= render 'layouts/banner' %>
          <% end%>

          <header>
           <h1>GilcierWeb Rails</h1>
         </header>

         <%= yield %>

         <footer>
           <p>&copy; GilcierWeb Rails - <%= Time.new.year %> - <a href="http://gilcierweb.com.br" target="_blank">gilcierweb.com.br</a><p>
           </footer>

         </div>		
       </div>
     </div>

     <!-- Script -->
     <%= javascript_include_tag  'application','//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js', 'data-turbolinks-track' => true %>
   </body>
   </html>